<title>Agregar cuentas por cobrar</title>
    
{% extends 'base_formularios.html' %}

    {% load static %}
    
    {% block contenidoFormulario %}
      
    <form action="{% url 'AgregarCuentas' %}" method="POST">{% csrf_token %}
        {% load crispy_forms_tags %}

        {{ formulario_cuenta|crispy:"bootstrap4" }}
    
        <input type="reset" value="Cancelar" class= "btn btn-secondary"/>
        <input type="submit" value="Enviar" class="btn btn-primary"/>
    </form>

{% endblock contenidoFormulario %}