<title>Revision de documentos por alumnos</title>
    
{% extends 'base_formularios.html' %}

    {% load static %}
    
    {% block contenidoFormulario %}

    {% if documentos_alumno %}
    <br>
    <table class="table table-bordered">
        <thead class="bg-primary"  style="color: white;">
            <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">FOTOGRAFIA</th>
            <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">CERTIFICADO DE ESTUDIOS</th>
            <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">COMPROBANTE DOMICILIO</th>
        </thead>
        <tbody>
            {%for j in documentos_alumno %}
                <tr style="border-collapse: collapse; border: black 2px solid;">
                    <td style="border-collapse: collapse; border: black 1px solid;"><a href="../../media/{{ j.fotografia }}"><img width="100px" height="100px" src="../../media/{{ j.fotografia }}" alt=""></a></td>
                    <td style="border-collapse: collapse; border: black 1px solid;"><a href="../../media/{{ j.certificado }}"><img width="100px" height="100px" src="../../media/{{ j.certificado }}" alt=""></a></td>
                    <td style="border-collapse: collapse; border: black 1px solid;"><a href="../../media/{{ j.comprobante }}"><img width="100px" height="100px" src="../../media/{{ j.comprobante }}" alt=""></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if documentos %}
        <br>
        <table class="table table-bordered">
            <thead class="bg-primary"  style="color: white;">
                <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">Documento</th>
                <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">Ultima fecha interaccion</th>
                <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">Estado</th>
                <th style="border-collapse: collapse; border: black 1px solid; text-align: center;">Observaciones</th>
            </thead>
            <tbody>
                {%for i in documentos %}
                    <tr style="border-collapse: collapse; border: black 2px solid;">
                        <td style="border-collapse: collapse; border: black 1px solid;">{{ i.nombre_doc }}</td>
                        <td style="border-collapse: collapse; border: black 1px solid;">{{ i.fecha }}</td>
                        <td style="border-collapse: collapse; border: black 1px solid;">
                            {{ i.estatus }} 
                            {% if i.estatus == "Cambio solicitado" %}
                                <form action="{% url 'Cambiar_documento' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <input type="file" name="documento_nuevo">
                                    <input type="hidden" name="columna" value="{{ i.nombre_doc }}"/>
                                    <input type="hidden" name="id_documento" value="{{i.id}}"/>
                                    <input type="hidden" name="id_alumno" value="{{i.alumno_id_id}}"/>
                                    <input type="submit" value="Notificar observaciones"  class="btn btn-primary"/>
                                </form>
                            {% endif %}
                        </td>
                        <td style="border-collapse: collapse; border: black 1px solid;">{{ i.observaciones }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock contenidoFormulario %}