{% extends 'base.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %}
    <br><br>
    <div style="text-align: center;">
        <img src="../../media/img/Gracias por visitarnos.png">
    </div>
    <!-- <pre style="line-height: 1.25; white-space: pre; right: 50%;">
        \          GRACIAS          /
         \                         /
          \          POR          /
           ]      VISITARNOS     [    ,'|
           ]                     [   /  |
           ]___               ___[ ,'   |
           ]  ]\             /[  [ |:   |
           ]  ] \           / [  [ |:   |
           ]  ]  ]         [  [  [ |:   |
           ]  ]  ]__     __[  [  [ |:   |
           ]  ]  ] ]\ _ /[ [  [  [ |:   |
           ]  ]  ] ] (#) [ [  [  [ :===='
           ]  ]  ]_].nHn.[_[  [  [
           ]  ]  ]  HHHHH. [  [  [
           ]  ] /   `HH("N  \ [  [
           ]__]/     HHH  "  \[__[
           ]         NNN         [
           ]         N/"         [
           ]         N H         [
          /          N            \
         /           q,            \
        /                           \
    </pre> -->
    {% endblock contenidoQueCambia %}